# git ignore file
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.dll
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
Logs/
Upload/
App_Data/
PublishProfiles/
obj/
bin/
WinFormDom/
.nuget/
MDM_PUB_Debug/
MDM_PUB_Common/Singleton.cs
packages/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dll
*.xml
